@model HoTroBenhNhan.Data.Benhvien

@{
    ViewBag.Title = "xoaBenhVien";
    Layout = "~/Areas/Admin/Views/Shared/_Layuot.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container-fluid mt-5 w-90" style="margin-left:300px;">
        <table class="table w-50">
            <thead>
                <tr>
                    <th scope="col" class="col-3">Tên Bệnh Viện</th>
                    <th scope="col" class="col-3">Ảnh </th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">SĐT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"> @Html.DisplayFor(model => model.tenbenhvien)</th>
                    <td><img src="@Html.DisplayFor(model => model.Anh)" /></td>
                    <td><img src=" @Html.DisplayFor(model => model.DiaChi)" /></td>
                    <td>@Html.DisplayFor(model => model.Sđt)</td>
                </tr>
            </tbody>
        </table>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Xoá" class="btn btn-default" />
            </div>
        }
    </div>

</body>
</html>