@model HoTroBenhNhan.Data.baiViet

@{
    ViewBag.Title = "Baiviet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/Content/css/chiTietBaiViet.css" rel="stylesheet" />
    <title>Document</title>
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=637089d6074d6c00198224a2&product=inline-share-buttons&source=platform" async="async"></script>
</head>

<body>
    <div id="wrap" class="container">
        <div class="header w-90 m-auto">
            <div class="name-blog text-center text-black">
                <h1>@Model.TenBaiViet</h1>
                <p class="float-right">@Model.ngayTao</p>
                <div class="clear"></div>
                <h5 class="">
                    @Model.moTaNgan
                </h5>
            </div>
            <div class="img-blog w-50 m-auto mt-4"  >
                <img class="w-100" src="@Model.hinhAnhBaiViet" alt="">
            </div>
        </div>
        <div class="container mt-5">
            <div class="list-item">
                <div class="item">
                    <ul class="item-title" style="list-style:none">
                        <li>
                            @Model.tieuDe
                            <p>
                                @Model.noiDungTieuDe
                            </p>
                        </li>
                        <li>
                            @Model.tieuDe1
                            <p>
                                @Model.noiDungTieuDe1
                            </p>
                        </li>
                        <li>
                            @Model.tieuDe2
                            <p>
                                @Model.noiDungTieuDe2
                            </p>
                        </li>
                        <li>
                            @Model.tieuDe3
                            <p>
                                @Model.noiDungTieuDe3
                            </p>
                        </li>
                        <li>
                            @Model.tieuDe4
                            <p>
                                @Model.noiDungTieuDe4
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <style>
        ul {
            list-style: none;
            color: #0086b3;
        }

            ul > li {
                color: black;
                font-size: 20px;
            }

                ul > li > p {
                    margin: 20px 12px;
                    text-align: justify;
                    font-size: 20px;
                }
    </style>


</body>

</html>
